/*
  -----------------------------------------
  Global CSS Styles
  -----------------------------------------
  equk astro blog
  https://github.com/equk/
 */

/* imports */

@import 'prism/prism-nord.css';
@import 'prism/language-tabs.css';
@import 'fa/fork-awesome.css';
@import 'fonts.css';

:not(pre)>code[class*='language-'],
code,
pre,
pre[class*='language-'] {
  background: #011627;
}

/* Base Styles */

body {
  margin: auto;
  padding: 0;
  text-align: left;
  font-size: 1.12rem;
  line-height: 1.5rem;
}

nav a {
  margin-right: 10px;
}

/* TailwindCSS Styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --theme-bg: #fff;
    --theme-link: #0282c9;
    --theme-hover: #d14;
    --theme-text: #2c3e50;
    --theme-accent: #cc2a42;
    --theme-accent-2: #111;
    --theme-quote: #cc2a42;
    --theme-menu-bg: rgb(250 250 250 / 0.85);
    --theme-footer-bg: #e5e7eb;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: #080d17;
    --theme-link: #d14;
    --theme-hover: #0282c9;
    --theme-text: #efefef;
    --theme-accent: #0282c9;
    --theme-accent-2: #eee;
    --theme-quote: #0282c9;
    --theme-menu-bg: rgb(29 31 33 / 0.85);
    --theme-footer-bg: #020204;
  }

  html {
    @apply h-full scroll-smooth;
  }

  html body {
    @apply mx-auto flex h-full flex-col bg-bgColor font-normal text-textColor antialiased;
  }

  main {
    @apply mx-auto max-w-6xl;
  }

  main header {
    @apply mx-auto max-w-5xl;
  }

  main .post-content {
    @apply mx-auto max-w-4xl pb-8;
  }

  main .hero-image {
    @apply pb-8;
  }

  a {
    color: var(--theme-link);
    transition: color 0.7s ease;
  }

  a:hover {
    color: var(--theme-hover);
    transition: color 0.7s ease;
  }
}

/* Footer */

footer {
  background-color: var(--theme-footer-bg);
}

/* Top Banner */

.topbanner-body {
  background-size: cover;
  background-image: url("/media/images/keys_banner.jpg");
  background-position: center bottom;
  position: relative;
  height: 400px;
}

.topbanner-body::before {
  background: -webkit-linear-gradient(-45deg, #081123, #22185b);
  background-color: #130d33;
  background: linear, 135deg, #081123 0, #22185b 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  left: 0;
  opacity: .8;
  position: absolute;
  top: 0;
  width: 100%;
  content: ""
}

.top-banner h2 {
  color: #0282c9;
}

.social-blocks {
  font-size: 37px;
  text-align: center;
}

.social-blocks .fa {
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 8px;
  text-align: center;
}

.social-blocks a .fa-twitter {
  background-color: #55acee;
}

.social-blocks a .fa-facebook {
  background-color: #3b5998;
}

.social-blocks a .fa-google-plus {
  background-color: #d34836;
}

.social-blocks a .fa-tumblr {
  background-color: #36465d;
}

.social-blocks a .fa-github {
  background-color: #333;
}

.social-blocks a .fa-mastodon {
  background-color: #563acc;
}

/* Hero Image */

main .hero-image img {
  -webkit-box-shadow: 5px 5px 20px rgba(39, 44, 49, .6), 1px 3px 8px rgba(39, 44, 49, .3);
  box-shadow: 5px 5px 20px rgba(39, 44, 49, .6), 1px 3px 8px rgba(39, 44, 49, .3);
  max-height: 500px;
}

.dark main .hero-image img {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .6), 1px 3px 8px rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .6), 1px 3px 8px rgba(0, 0, 0, .3);
}

/* Task Lists */

li.task-list-item {
  list-style: none;
  margin-left: 0px;
}

/* inline code */

:not(pre)>code {
  background-color: #eef9ff !important;
  border-radius: 0.3125rem !important;
  color: #0282c9 !important;
  font-family: monospace !important;
  padding: 0.2rem 0.4rem !important;
  font-weight: normal !important;
}

.dark :not(pre)>code {
  background-color: #011627 !important;
  color: #cc99cd !important;
}

/* Typography Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}

p,
ul,
ol,
pre {
  margin: 1em 0;
  line-height: 1.5rem;
}

blockquote {
  margin: 1em 0;
  padding-left: 1em;
  font-style: italic;
}

h1 {
  margin: 1rem 0;
  font-size: 2.25em;
}

h2 {
  margin: 1.75em 0 0.5em;
  font-size: 1.75em;
}

h3 {
  margin: 1.5em 0 0.5em;
  font-size: 1.375em;
}

h4 {
  margin: 1em 0;
  font-size: 1.125em;
}

img,
video {
  max-width: 100%;
}

figure,
picture {
  margin: 1em 0;
}

figcaption {
  font-size: 0.875em;
}

code {
  font-size: 0.875em;
  font-weight: 600;
}

pre {
  padding: 1.25rem 1.5rem;
  overflow-x: auto;
  border-radius: 0.375rem;
}

pre,
code {
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  background: transparent;
}

pre code {
  font-weight: inherit;
}

ol,
ul {
  padding-left: 1.25em;
}

ol {
  list-style-type: decimal;
}

hr {
  margin: 2em 0;
}

table {
  display: block;
  margin: 1em 0;
  border-collapse: collapse;
  overflow-x: auto;
}

td,
th {
  padding: 0.625em 1em;
}

abbr {
  cursor: help;
}

kbd {
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  font-size: 0.875em;
  border-radius: 0.25rem;
}

details {
  margin: 1em 0;
  padding: 1.25rem 1.5rem;
}

summary {
  cursor: pointer;
  font-weight: 600;
}

main ul {
  list-style-type: disc;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  text-transform: capitalize;
}

/* Hero Image */

main .hero-image img {
  margin-left: auto;
  margin-right: auto;
}

/* Wide Elements */

@media only screen and (min-width: 960px) {

  blockquote,
  pre,
  article.message {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    max-width: none !important;
    width: 1016px;
  }
}