/*
  -----------------------------------------
  Global CSS Styles
  -----------------------------------------
  equk astro blog
  https://github.com/equk/
 */

/* Base Styles */

body {
  font-family: Open Sans, Cantarell, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: auto;
  padding: 0;
  text-align: left;
}

a {
  color: #0282c9;
}

nav a {
  margin-right: 10px;
}

/* UnoCSS Styles */

@layer base {
  html {
    @apply h-full scroll-smooth border-t-2 border-textColor;
  }

  html body {
    @apply mx-auto flex h-full container flex-col bg-bgColor px-8 pt-16 font-normal text-textColor antialiased;
  }

  main {
    @apply mx-auto max-w-6xl;
  }

  main header {
    @apply mx-auto max-w-5xl;
  }

  main .post-content {
    @apply mx-auto max-w-4xl pb-8;
  }

  main .hero-image {
    @apply pb-8;
  }
}