/*
  -----------------------------------------
  Global CSS Styles
  -----------------------------------------
  equk astro blog
  https://github.com/equk/
 */

/* Base Styles */

body {
  font-family: Open Sans, Cantarell, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: auto;
  padding: 0;
  text-align: left;
}

a {
  color: #0282c9;
}

nav a {
  margin-right: 10px;
}

/* UnoCSS Styles */

@layer base {
  html {
    @apply h-full scroll-smooth border-t-2 border-textColor;
  }

  html body {
    @apply mx-auto flex h-full container flex-col bg-bgColor px-8 pt-16 font-normal text-textColor antialiased;
  }

  main {
    @apply mx-auto max-w-6xl;
  }

  main header {
    @apply mx-auto max-w-5xl;
  }

  main .post-content {
    @apply mx-auto max-w-4xl pb-8;
  }

  main .hero-image {
    @apply pb-8;
  }
}

/* Task Lists */

li.task-list-item {
  list-style: none;
  margin-left: 0px;
}

/* inline code */

:not(pre)>code {
  background-color: #eef9ff !important;
  border-radius: .3125rem !important;
  color: #0282c9 !important;
  font-family: monospace !important;
  padding: .2rem .4rem !important;
  font-size: .9rem !important;
  font-weight: normal !important;
}

.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::before,
.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::after {
  content: "";
}