---
import ToggleDark from '~/components/ToggleDark.astro'
import { siteConfig } from '~/config'
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const nav = document.getElementById('main-nav') as HTMLElement
    const toggleMenuButton = document.getElementById(
      'toggle-navigation-menu'
    ) as HTMLButtonElement
    let menuOpen = false

    function toggleClass(element: HTMLElement, className: string) {
      element.classList.toggle(className)
    }

    toggleMenuButton.addEventListener('click', () => {
      toggleClass(nav, 'hidden')
      menuOpen = !menuOpen
      toggleMenuButton.setAttribute('aria-expanded', menuOpen.toString())
    })
  })
</script>

<header class="mx-auto w-full flex-none duration-100 ease-in">
  <div class="mx-auto w-full max-w-6xl md:flex md:justify-between">
    <div class="flex justify-between">
      <a class="flex items-center" href="/"
        ><span
          class="ml-2 self-center whitespace-nowrap text-3xl text-gray-900 dark:text-white"
          >equk</span
        ></a
      ><div class="flex items-center md:hidden">
        <button
          class="ml-1.5 inline-flex items-center rounded-lg p-2.5 text-sm text-gray-500 transition hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-700"
          id="toggle-navigation-menu"
          aria-label="Toggle Menu"
          type="button"
          data-aw-toggle-menu=""
          ><svg
            astro-icon="tabler:menu"
            class="h-6 w-6"
            viewBox="0 0 24 24"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            ><g
              fill="none"
              class="icon-tabler"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path d="M4 8h16"></path><path d="M4 16h16"></path></g
            ></svg
          ></button
        >
      </div>
    </div><nav
      aria-label="Main navigation"
      id="main-nav"
      class="hidden w-full md:w-auto dark:text-slate-200 items-center md:flex md:h-auto md:mx-5 md:overflow-visible overflow-y-auto"
    >
      <ul
        class="flex flex-col md:flex-row md:pt-0 md:self-center md:text-base md:w-auto text-xl w-full"
      >
        {
          siteConfig.menu.map((item) => (
            <li>
              <a href={item.path}> {item.label}</a>
            </li>
          ))
        }
      </ul>
      <ToggleDark />
    </nav>
  </div>
</header>
