---
import type { CollectionEntry } from 'astro:content'
import { Picture } from '@astrojs/image/components'
import BaseHead from '~/components/BaseHead.astro'
import BaseScript from '~/components/BaseScript.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { siteConfig } from '~/config'

type Props = CollectionEntry<'blog'>['data']

const { frontmatter } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={`${frontmatter.title} - ${siteConfig.title}`} />
    <BaseScript />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <header class="pb-16 pt-24">
          <div class="space-y-4">
            <h1 class="text-center text-5xl font-bold dark:text-gray-100">
              {frontmatter.title}
            </h1>
          </div>
        </header>
        {
          frontmatter.heroImage && (
            <div class="hero-image">
              <Picture
                src={frontmatter.heroImage}
                widths={[400, 800, 1200]}
                sizes="(max-width: 1200px) 100vw, 1200px"
                alt=""
                aspectRatio={1200 / 500}
              />
            </div>
          )
        }
        <div class="post-content" style="grid-template-rows: auto 1fr">
          <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
            <div class="prose lg:prose-lg mx-auto max-w-none">
              <slot />
            </div>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
